.nav-item.dropdown .nav-link::after {
  display: none;
}
.navbar{
  background: linear-gradient(to right, rgba(237, 106, 89, 0.85) 0%, rgba(147, 178, 211, 0.85) 100%);

}
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* Transparent background */
.dropdown-menu {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 10px;
}

/* Dropdown links styling */
.dropdown-item {
  color: #fff;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.934);
}